@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        opacity: 1 !important;
        transition: none !important;
    }
}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    .hero {
        margin-bottom: 25px !important;
    }

    .about {
        padding: 0 25px 25px 25px !important;
    }

    .spotlight {
        grid-template-areas:
            'header'
            'bio'
            'stream'
            !important
        ;
        grid-template-columns: auto !important;
        padding: 25px !important;

        div {
            display: none;
        }
    }

    .events {
        .events__meetup {
            gap: 0 !important;
            grid-template-columns: 0 !important;
            padding: 0 25px !important;
        }
    }
}