@use '../_root' as *;

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        opacity: 1 !important;
        transition: none !important;
    }
}

@media screen and (min-width: 2560px) {}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1280px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 480px) {
    .navbar {
        display: grid;
        grid-template-areas:
            'logo . hamburger'
            'pages pages pages'
        ;
        position: relative;
        z-index: 100;

        .navbar__logo {
            grid-area: logo;
        }

        .navbar__pages {
            display: none;
        }

        .navbar__hamburger {
            display: block;
            grid-area: hamburger;
        }

        .navbar__pages--mobile {
            align-items: end;
            display: flex;
            flex-direction: column;
            grid-area: pages;

            a {
                background: $color-2;
                padding: 5px 20px;
                text-align: right;
                width: 150px;
            }
        }
    }

    #home {
        .summary {
            padding: 0 25px 50px;
        }

        .spotlight {
            grid-template-areas:
                'header'
                'bio'
                'stream'
            ;
            grid-template-columns: auto;
            padding: 50px 25px;

            .spotlight__photo {
                display: none;
            }
        }

        .meetups {
            .meetups__meetup {
                display: block;
                padding: 0 25px 50px;
            }
        }
    }
}