@use '../_root' as *;

.audio {
    .audio__spotify {
        height: 500px;
        user-select: none;
        width: 100%;
    }

    .audio__soundcloud {
        height: 500px;
        user-select: none;
        width: 100%;
    }
}