@use '../_root' as *;

.bash {
    margin-bottom: 25px;

    .bash__resource {
        display: grid;
        grid-template-columns: 50px 170px 1fr 150px auto auto;
        padding: 5px 50px;

        p {
            font-size: $font-4;
            padding: 0 10px;

            &.easy {
                color: green;
            }

            &.medium {
                color: peru;
            }

            &.hard {
                color: crimson;
            }

            &:nth-of-type(1) {
                text-align: center;
            }

            &:nth-of-type(3) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:nth-of-type(4) {
                text-align: right;
            }
        }

        svg {
            color: $color-5;
            font-size: $font-4;
            height: 100%;
            margin: 0 5px;
            transition:
                color 200ms,
                scale 200ms,
            ;

            &:hover {
                color: $color-4;
            }

            &:active {
                scale: .9;
            }
        }
    }
}