@use '../_root' as *;

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin: 0 50px 50px;

    .cards__producer {
        background: $color-2;
        display: grid;
        grid-template-rows: 85px;
        height: 500px;
        margin-bottom: 25px;
        padding: 20px;
        width: 300px;

        .cards__producer--photo {
            background-size: cover;
            border-radius: 50%;
            height: 125px;
            position: relative;
            top: -50px;
            transition: scale 200ms;
            width: 125px;

            &:hover {
                scale: 1.2;
            }

            &.spotlight {
                box-shadow: 0 0 20px 0 $color-3;
            }
        }

        .cards__producer--identity {
            margin-bottom: 10px;

            p {
                &:first-child {
                    font-size: $font-4;

                    &.speaker {
                        color: gold;
                    }

                    &.admin {
                        &::after {
                            content: ' \1f6e1';
                        }
                    }
                }

                &:last-child {
                    font-size: $font-2;
                }
            }
        }

        .cards__producer--container {
            overflow: scroll;

            &::-webkit-scrollbar {
                width: 0;
            }

            .cards__producer--info {
                min-height: 100%;

                p {
                    color: $color-6;
                    font-size: $font-2;
                    margin-bottom: 10px;
                }
            }

            .cards__producer--group {
                p {
                    font-size: $font-2;
                    font-weight: bold;
                    margin: 5px 0;
                }

                div {
                    display: flex;
                    flex-wrap: wrap;

                    span {
                        background: $color-1;
                        margin: 0 5px 5px 0;
                        padding: 2.5px 7.5px;
                    }
                }
            }
        }

        .cards__producer--socials {
            display: flex;
            gap: 10px;
            justify-content: center;
            margin-bottom: 10px;

            a {
                color: $color-5;
                display: flex;
                transition: color 200ms;

                &:visited {
                    color: $color-5;
                }

                &:hover {
                    color: $color-4;
                }
            }
        }

        .cards__producer--stream {
            align-items: center;
            display: flex;
            height: 30px;

            a {
                background: $color-1;
                color: $color-5;
                display: block;
                font-size: $font-2;
                padding: 5px 0;
                text-align: center;
                width: 100%;

                &:visited {
                    color: $color-5;
                }

                &:hover {
                    animation: 500ms 200ms ease-out infinite alternate hover;
                }
            }
        }
    }
}