@use '../_root' as *;

.feedback {
    margin-bottom: 25px;
    min-height: calc(100dvh - 50px - 125px - 100px - 25px - 50px);

    .feedback__submissions {
        display: grid;
        grid-template-columns: 50px 1fr 3fr auto auto;
        padding: 5px 50px;

        p {
            font-size: $font-4;
            padding: 0 10px;

            &:nth-of-type(1) {
                text-align: center;
            }

            &:nth-of-type(2) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:nth-of-type(3) {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        svg {
            color: $color-5;
            cursor: pointer;
            font-size: $font-4;
            height: 100%;
            margin: 0 5px;
            transition:
                color 200ms,
                scale 200ms,
            ;

            &:hover {
                color: $color-4;
            }

            &:active {
                scale: .9;
            }

            &.marked {
                color: $color-4;
            }
        }
    }
}