@use '../_root' as *;

.filter {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px 100px 75px;

    button {
        border: none;
        margin: 0 5px 5px 0;
        padding: 5px 10px;
        transition: color 200ms;

        &:hover {
            color: $color-4;
        }

        &.active {
            background: $color-2;
        }
    }

    .filter__group {
        span {
            background: $color-2;
            color: $color-3;
            margin-right: 5px;
            padding: 5px 10px;
        }
    }

    .filter__actions {
        button {
            background: $color-2;

            &:disabled {
                opacity: .5;

                &:hover {
                    color: $color-5;
                }
            }
        }
    }
}