@use '../_root' as *;

.footer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 50px;

    span {
        font-weight: bold;
    }

    .footer__socials {
        display: flex;
        gap: 10px;

        a {
            color: $color-5;
            display: flex;
            transition: color 200ms;

            &:visited {
                color: $color-5;
            }

            &:hover {
                color: $color-4;
            }
        }
    }
}