@use '../_root' as *;

.footer {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 50px;

    .footer__copyright {
        font-size: $font-2;
        font-weight: bold;
    }

    .footer__email {
        font-size: $font-2;
    }

    .footer__socials {
        display: flex;
        gap: 10px;

        a {
            display: flex;

            svg {
                font-size: $font-3;
            }
        }
    }
}