@use '../_root' as *;

.hero {
    background-size: cover;
    height: 480px;
    margin-bottom: 50px;

    h1 {
        left: 50%;
        position: relative;
        text-align: center;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}