@use '../_root' as *;

.meetups {
    .meetups__meetup {
        display: grid;
        gap: 0 25px;
        grid-template-areas:
            'image datetime'
            'image location'
            'image title'
            'image description'
        ;
        grid-template-columns: 1fr 4fr;
        padding: 0 100px 50px;

        div {
            background-size: cover;
            box-shadow: rgba(0, 0, 0, .35) 0 5px 15px;
            grid-area: image;
        }

        p {
            width: fit-content;

            &:nth-of-type(1) {
                color: $color-6;
                font-size: $font-2;
                grid-area: datetime;
                margin-bottom: 5px;

                a {
                    border-bottom: 1px solid transparent;
                    color: $color-4;
                    transition: border-bottom-color 200ms;

                    &:visited {
                        color: $color-4;
                    }

                    &:hover {
                        border-bottom-color: $color-4;
                    }
                }
            }

            &:nth-of-type(2) {
                color: $color-6;
                font-size: $font-2;
                grid-area: location;
                margin-bottom: 5px;
            }

            &:nth-of-type(3) {
                grid-area: description;
            }
        }

        h4 {
            color: $color-3;
            grid-area: title;
            margin-bottom: 5px;
            width: fit-content;
        }
    }
}