@use '../_root' as *;

.navbar {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;

    .navbar__logo {
        height: 50px;
        width: 50px;
    }

    .navbar__pages {
        display: flex;
        gap: 25px;
        padding-right: 25px;

        a {
            text-transform: uppercase;
        }
    }

    .navbar__hamburger {
        display: none;
    }

    .navbar__pages--mobile {
        display: none;

        a {
            text-transform: uppercase;
        }
    }
}