@use '../_root' as *;

.navbar {
    align-items: center;
    background-color: $color-2;
    display: flex;
    justify-content: space-around;

    .navbar__pages {
        display: flex;
        gap: 50px;
        justify-content: space-between;

        a {
            color: $color-5;
            transition: 250ms;

            &:visited {
                color: $color-5;
            }

            &:hover {
                color: $color-4;
            }
        }
    }
}