@use '../_root' as *;

.spotlight {
    background: $color-2;
    display: grid;
    gap: 25px;
    grid-template-areas:
        'header header'
        'bio photo'
        'stream stream'
    ;
    grid-template-columns: 2fr 1fr;
    padding: 50px 100px;

    .spotlight__header {
        grid-area: header;
        margin: auto;
        text-align: center;
    }

    .spotlight__bio {
        grid-area: bio;
        margin: auto;
        text-align: center;
    }

    .spotlight__photo {
        background-size: cover;
        grid-area: photo;
        min-height: 400px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .spotlight__stream {
        background: $color-1;
        font-size: $font-3;
        grid-area: stream;
        padding: 15px 0;
        text-align: center;
    }
}