@use '../_root' as *;

.spotlight {
    background: $color-2;
    display: grid;
    gap: 25px;
    grid-template-areas:
        'header header'
        'bio photo'
        'stream stream'
    ;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 50px;
    padding: 50px;

    h2 {
        grid-area: header;
        margin: auto;
        text-align: center;
    }

    p {
        grid-area: bio;
        margin: auto;
        text-align: center;
    }

    div {
        background-size: cover;
        grid-area: photo;
        max-height: 800px;
        min-height: 400px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    a {
        background: $color-1;
        color: $color-5;
        grid-area: stream;
        padding: 10px 0;
        text-align: center;
        transition: color 200ms;

        &:visited {
            color: $color-5;
        }

        &:hover {
            color: $color-4;
        }
    }
}