@use '../_root' as *;

.submit {
    padding: 0 100px 50px;

    .submit__form {
        display: grid;
        grid-template-columns: 1fr auto;

        input {
            border-color: $color-6;
            font-size: $font-4;
            margin-right: 25px;
            padding: 15px 30px;
            transition: border-color 200ms;

            &:focus {
                border-color: $color-5;
                outline: none;
            }

            &::placeholder {
                color: $color-6;
            }
        }

        button {
            background: $color-2;
            border: none;
            font-size: $font-4;
            padding: 15px 30px;
            transition: color 200ms;

            &:hover {
                color: $color-4;
            }
        }
    }
}