@use '../_root' as *;

.toggle {
    align-items: center;
    display: flex;
    gap: 50px;
    height: 125px;
    justify-content: center;
    margin-bottom: 25px;

    button {
        background: $color-2;
        border: none;
        border-bottom: 1px solid transparent;
        border-radius: 25px;
        font-size: $font-5;
        padding: 15px 50px;
        transition:
            border-bottom-color 200ms,
            color 200ms,
        ;

        &:not(.active):hover {
            border-bottom-color: $color-4;
            color: $color-4;
        }

        &.active {
            border-bottom-color: $color-3;
            color: $color-3;
        }
    }
}