$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color-5: var(--color-5);
$color-6: var(--color-6);

$font-1: 10.67px;
$font-2: 16px;
$font-3: 24px;
$font-4: 36px;
$font-5: 54px;
$font-6: 81px;
$font-7: 121.5px;