$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color-5: var(--color-5);
$color-6: var(--color-6);

$font-1: var(--font-1);
$font-2: var(--font-2);
$font-3: var(--font-3);
$font-4: var(--font-4);
$font-5: var(--font-5);
$font-6: var(--font-6);