// * { animation: none !important; opacity: 1 !important; transition: none !important; }
// * { background: #ffffff !important; border-color: #000000 !important; box-shadow: none !important; color: #000000 !important; filter: grayscale(100%) !important; text-shadow: none !important; }
// * { font-family: sans-serif !important; }
// * { user-select: all !important; }

// .audio { display: none; }
// .bash { display: none; }
// .cards { display: none; }
// .carousel { display: none; }
// .events { display: none; }
// .feedback { display: none; }
// .filter { display: none; }
// .footer { display: none; }
// .future { display: none; }
// .hero { display: none; }
// .introduction { display: none; }
// .navbar { display: none; }
// .past { display: none; }
// .sponsors { display: none; }
// .spotlight { display: none; }
// .submit { display: none; }
// .summary { display: none; }
// .toggle { display: none; }