// * { animation: none !important; transition: none !important; }
// * { background: #fff !important; border-color: #000 !important; box-shadow: none !important; color: #000 !important; filter: grayscale(100%) !important; text-shadow: none !important; }
// * { font-family: sans-serif !important; }
// * { user-select: all !important; }

// .footer { display: none; }
// .navbar { display: none; }
// #about .carousel { display: none; }
// #about .introduction { display: none; }
// #about .sponsors { display: none; }
// #events .filter { display: none; }
// #events .meetups { display: none; }
// #home .audio { display: none; }
// #home .hero { display: none; }
// #home .spotlight { display: none; }
// #home .summary { display: none; }
// #live .bash { display: none; }
// #live .feedback { display: none; }
// #live .submit { display: none; }
// #live .toggle { display: none; }
// #producers .cards { display: none; }
// #producers .filter { display: none; }