// * { animation: none !important; opacity: 1 !important; transition: none !important; }
// * { background: white !important; border-color: black !important; box-shadow: none !important; color: black !important; filter: grayscale(100%) !important; text-shadow: none !important; }
// * { font-family: Arial !important; }
// * { user-select: all !important; }

// .about { display: none; }
// .audio { display: none; }
// .bash { display: none; }
// .cards { display: none; }
// .events { display: none; }
// .feature { display: none; }
// .feedback { display: none; }
// .filter { display: none; }
// .footer { display: none; }
// .navbar { display: none; }