@use '_root' as *;

#display {
    display: grid;
    grid-template-areas:
        'navbar'
        'main'
        'footer';
    grid-template-rows: 50px 1fr 100px;
    min-height: 100dvh;
}

#home {
    display: block;
}

#live {
    display: block;
}

#producers {
    display: block;
}