@use '_root' as *;

:root {
    --color-1: #1b2635;
    --color-2: #233044;
    --color-3: #407ad6;
    --color-4: #478e3d;
    --color-5: #f3f4f5;
    --color-6: #898e96;
    --font-1: 10.67px;
    --font-2: 16px;
    --font-3: 24px;
    --font-4: 36px;
    --font-5: 54px;
    --font-6: 81px;
}

a {
    font-size: $font-3;
}

h1 {
    font-size: $font-6;
}

h2 {
    font-size: $font-5;
}

h3 {
    font-size: $font-4;
}

h4 {
    font-size: $font-3;
}

html {
    background: $color-1;
    color: $color-5;
    font-family:
        'SF Pro Display',
        'Helvetica Neue',
        'sans-serif',
    ;
}

img {
    user-select: none;
}

p {
    font-size: $font-3;
}