@use '../_root' as *;

#fallback {
    h1 {
        align-items: center;
        display: flex;
        height: calc(100dvh - 50px - 50px);
        justify-content: center;
        text-transform: uppercase;
    }
}