@use '../../_root' as *;

#home .summary {
    padding: 0 100px 50px;
    text-align: center;

    .summary__header {
        margin-bottom: 25px;
    }

    .summary__content {
        text-align: center;
    }
}